
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Add Category</h2>
        <hr />
    </div>
    <div class="mb-3 row p-1">
        <label class="p-0">Category Name</label>
        <input id="name" type="text" class="form-control" />
        <span id="error" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-6 col-md-3">
            <p onclick="submit()" class="btn btn-primary form-control">Create</p>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary form-control">Back</a>
        </div>
    </div>

</div>

<script>
    function submit() {
       const nameElement =  $("#name");
       let name = {name: nameElement.val()};
       //alert(name)
       $.ajax(
            {
                url: '@Url.Action("Add", "Categories")',
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                data: name,
                success: function (data, textStatus, jqXHR) {
                    window.location.href = "/categories/index"
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unable to process request.\nPlease try again later or contact administrator.")
                }
            });
    }
</script>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}