<header>
    <style>
        .form-bottom-margin {
            margin-bottom: 80px;
        }
    </style>
</header>
<div class="container">

    <div class="d-flex align-items-center">
        <img src="/Images/logo.png" class="img-thumbnail d-inline me-4" alt="Chaser Logo" style="max-width: 300px" />
    </div>

    <h1 class="text-end mb-5">END-OF-SEMESTER <span class="text-success">EVALUATION</span></h1>

    <p class="mb-5">This evalution will help you assess who is using your campus food pantry, predict any trends amoung users, and develop
        a better understanding of food insecurity in your campus community. This data is meant to help you understand how the food pantry is operating and how
        it can be improved to better meet user needs. Please answer the questions to the best of your ability.
    </p>

    <form class="form-bottom-margin">
        <h2 style="color: orange;" class="mb-5">User Demographics</h2>

        <!-- Ethnicity -->
		<h5 class="mb-4"><u>Ethnicity:</u></h5>
        <div class="row">
            <div class="col-md-4 mb-4">
                <p>African-American/Black: <var class="percentageEthnicity-1 percentageEthnicity">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Asian: <var class="percentageEthnicity-2 percentageEthnicity">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Caucasian/White: <var class="percentageEthnicity-3 percentageEthnicity">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Latino: <var class="percentageEthnicity-4 percentageEthnicity">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Middle Eastern: <var class="percentageEthnicity-5 percentageEthnicity">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Native American: <var class="percentageEthnicity-6 percentageEthnicity">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Pacific Islander: <var class="percentageEthnicity-7 percentageEthnicity">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Other: <var class="percentageEthnicity-8 percentageEthnicity">______</var> %</p>
            </div>
        </div>

        <!-- Age -->
		<h5 class="mb-4"><u>Age:</u></h5>
        <div class="row">
            <div class="col-md-4 mb-4">
                <p>18-22: <var class="percentageAge-1 percentageAge">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>23-29: <var class="percentageAge-2 percentageAge">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>30-45: <var class="percentageAge-3 percentageAge">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>46+: <var class="percentageAge-4 percentageAge">______</var> %</p>
            </div>
        </div>

        <!-- Gender -->
		<h5 class="mb-4"><u>Gender:</u></h5>
        <div class="row">
            <div class="col-md-4 mb-4">
                <p>Female: <var class="percentageGender-1 percentageGender">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Male: <var class="percentageGender-2 percentageGender">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Transgender: <var class="percentageGender-3 percentageGender">______</var> %</p>
            </div>
        </div>

        <!-- Student & Staff Status -->
        <h5 class="mb-4"><u>Student Status:</u></h5>
        <div class="row">
            <div class="col-md-4 mb-4">
                <p>Full-time: <var class="percentageSStatus-1 percentageSStatus">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Part-time: <var class="percentageSStatus-2 percentageSStatus">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Traditional Student: <var class="percentageSStatus-3 percentageSStatus">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Non-traditional Student: <var class="percentageSStatus-4 percentageSStatus">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Staff: <var class="percentageSStatus-5 percentageSStatus">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Faculty: <var class="percentageSStatus-6 percentageSStatus">______</var> %</p>
            </div>
        </div>

        <!-- Household -->
        <h5 class="mb-4"><u>Household:</u></h5>
        <p>Average number of individuals per household: <var class="averageHousehold-1 averageHousehold">______</var></p>
        <p>Average number of individuals under the age of 18: <var class="averageHousehold-2 averageHousehold">______</var></p>

        <!-- Transportation -->
        <h5 class="mb-4"><u>Access to personal transportation: </u></h5>
        <p><var class="percentagePT percentagePT">______</var> %</p>

        <!-- Employment -->
        <h5 class="mb-4"><u>Employment:</u></h5>
        <div class="row">
            <div class="col-md-4 mb-4">
                <p>Full-time: <var class="percentageEmployment-1 percentageEmployment">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Part-time: <var class="percentageEmployment-2 percentageEmployment">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>Unemployed: <var class="percentageEmployment-3 percentageEmployment">______</var> %</p>
            </div>
            <p>Average number of employed individuals per household: <var class="averageEmployment-1 averageEmployment">______</var></p>
        </div>

        <!-- Benefits -->
        <h5 class="mb-4"><u>Benefits:</u></h5>
        <p>Households receiving the following benefits(s):</p>
        <div class="row">
            <div class="col-md-4 mb-4">
                <p>SNAP: <var class="percentageBenefits-1 percentageBenefits">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>TANF: <var class="percentageBenefits-2 percentageBenefits">______</var> %</p>
            </div>
            <div class="col-md-4 mb-4">
                <p>WIC: <var class="percentageBenefits-3 percentageBenefits">______</var> %</p>
            </div>
        </div>
    </form>

    <form class="form-bottom-margin">
        <h2 style="color: orange;" class="mb-5">Financial Analysis</h2>
        <p>What percentage of contributions to the campus food pantry is monetary, excluding grant funding? <var class="percentageFinancial percentageFinancial">______</var> %</p>
    </form>

    <form class="form-bottom-margin">
        <h2 style="color: orange;" class="mb-5">User Interactions and other Resources</h2>

        <!-- Q1 -->
        <div class="mb-3">
            <label for="longAnswer1" class="form-label">Please describe the screening procress for users. (Do users need a campus ID? Can they be enrolled in SNAP, WIC, or TANF? Etc.)</label>
            <textarea class="form-control" id="longAnswer-1" rows="4" placeholder="Enter your answer here"></textarea>
        </div>

        <!-- Q2 -->
        <div class="mb-3">
            <label for="longAnswer2" class="form-label">Please describe users' access to pantry goods. (Is there a limit on a user's number of visits? Do they need to make an appointment?
                Do they need to have an emergency? Etc.)
            </label>
            <textarea class="form-control" id="longAnswer-2" rows="4" placeholder="Enter your answer here"></textarea>
        </div>

        <!-- Q3 -->
        <div class="mb-3">
            <label for="Access" class="form-label">Does your pantry provide access to SNAP, WIC, and TANF applications?</label>
            <select class="form-select" id="Access">
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <!-- Q4 -->
        <div class="mb-3">
            <label for="longAnswer3" class="form-label">Do you intend to expand services or programs of your campus food pantry? Please explain why?</label>
            <textarea class="form-control" id="longAnswer-3" rows="3" placeholder="Enter your answer here"></textarea>
        </div>

        <!-- Q5 -->
        <div class="mb-3">
            <label for="longAnswer4" class="form-label">Please identify any other questions, concerns, or comments you have about operating your campus food pantry.</label>
            <textarea class="form-control" id="longAnswer-4" rows="5" placeholder="Enter your answer here"></textarea>
        </div>
    </form>

</div>