<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Needs Survey</title>
    <style>
        .green-text {
            color: green;
        }

        .form-check-input:checked {
            background-color: green;
            border-color: green;
        }

        .form-check-input {
            border-color: green;
        }

        .btn-primary {
            background-color: green;
            border-color: green;
            color: white;
        }

        .btn-primary:hover{
            background-color: green;
            border-color: green
        }

        .form-control:focus{
            border-color: darkgreen;
            box-shadow: 0 0 10px darkgreen;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex align-items-center">
            <img src="/Images/logo.png" class="img-thumbnail d-inline me-4" alt="Chaser Logo" style="max-width: 300px" />
        </div>
        <h1 class="text-end">USER <span class="green-text">SURVEY</span></h1>
        <h6 class="mb-5">
            Please answer the following questions about your experience with the food pantry. Your answers will help us 
            understand how we can provide you with better resources and services. (All responses are anonymous and confidential).
        </h6>
        <form>
            <h5>Which of the following best describes your campus status?</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="status" id="student" value="student">
                        <label class="form-check-label" for="student">
                            Student
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="status" id="staff" value="staff">
                        <label class="form-check-label" for="staff">
                            Staff
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="status" id="faculty" value="faculty">
                        <label class="form-check-label" for="faculty">
                            Faculty
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="status" id="other" value="other">
                        <label class="form-check-label" for="other">
                            Other
                        </label>
                    </div>
                </div>
            </div>

            <h5>
                How often do you use the food pantry and its services?
            </h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="pantry_use" id="often" value="often">
                        <label class="form-check-label" for="often">
                            As often as allowed
                        </label>
                    </div>
                </div>

                <div class="col-6 col-md-5 mb-4">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="pantry_use" id="emergency" value="emergency">
                        <label class="form-check-label" for="emergency">
                            Only in an emergency (medical, death, job loss, etc.)
                        </label>
                    </div>
                </div>

                <div class="col-5 col-md-4 mb-3">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="pantry_use" id="holiday" value="holiday">
                        <label class="form-check-label" for="holiday">
                            During holiday breaks, including summer
                        </label>
                    </div>
                </div>
            </div>

            <h5>Have you used other food pantries in the community?</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="answer" id="yes" value="yes">
                        <label class="form-check-label" for="yes">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="answer" id="no" value="no">
                        <label class="form-check-label" for="no">
                            No
                        </label>
                    </div>
                </div>
            </div>

            <h5>
                Have you been turned away from any other food pantry in the community? (Check all that apply).
            </h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="checkbox" name="rejected" id="student" value="student">
                        <label class="form-check-label" for="student">
                            Yes, because I am a student
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="checkbox" name="rejected" id="money" value="money">
                        <label class="form-check-label" for="money">
                            Yes, because I make too much money
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="checkbox" name="rejected" id="other" value="other">
                        <label class="form-check-label" for="other">
                            Yes, because of another reason
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="checkbox" name="rejected" id="no" value="no">
                        <label class="form-check-label" for="no">
                            No
                        </label>
                    </div>
                </div>
            </div>

            <h5>Did the capus food pantry proivde you with meals that you would have otherwise had to skip?</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="provision" id="yes1" value="yes">
                        <label class="form-check-label" for="yes1">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="provision" id="no1" value="no">
                        <label class="form-check-label" for="no1">
                            No
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="provision" id="unsure" value="unsure">
                        <label class="form-check-label" for="unsure">
                            Unsure
                        </label>
                    </div>
                </div>
            </div>

            <h5>Did the capus food pantry proivde your family with meals that you would have otherwise had to skip?</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="family" id="yes2" value="yes">
                        <label class="form-check-label" for="yes2">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="family" id="no2" value="no">
                        <label class="form-check-label" for="no2">
                            No
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="family" id="unsure1" value="unsure">
                        <label class="form-check-label" for="unsure1">
                            Unsure
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="family" id="n/a" value="n/a">
                        <label class="form-check-label" for="n/a">
                            Not Applicable
                        </label>
                    </div>
                </div>
            </div>

            <h5>Which of the following did you receive from the campus food pantry?</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="food" id="protein" value="protein">
                        <label class="form-check-label" for="protein">
                            Protein
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="food" id="veg" value="veg">
                        <label class="form-check-label" for="veg">
                            Vegatables
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="food" id="fruit" value="fruit">
                        <label class="form-check-label" for="fruit">
                            Fruits
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="food" id="dairy" value="dairy">
                        <label class="form-check-label" for="dairy">
                            Dairy
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="food" id="grain" value="grain">
                        <label class="form-check-label" for="grain">
                            Grains
                        </label>
                    </div>
                </div>

                <div class="col-6 col-md-5 mb-4">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="food" id="personal" value="personal">
                        <label class="form-check-label" for="personal">
                            Personal care products and toiletries
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="food" id="other" value="other">
                        <label class="form-check-label" for="other">
                            Other
                        </label>
                    </div>
                </div>
            </div>

            <h5>Did the capus food pantry proivde you with information about other serices such as SNAP, WIC, or TANF?</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="info" id="yes3" value="yes">
                        <label class="form-check-label" for="yes3">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="info" id="no3" value="no">
                        <label class="form-check-label" for="no3">
                            No
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="info" id="unsure2" value="unsure">
                        <label class="form-check-label" for="unsure2">
                            Unsure
                        </label>
                    </div>
                </div>
            </div>

            <h5>By using the campus food pantry, were you able to alloate funds towards other necessities,
                such as rent, utilities, car maintenence, medicine, etc.?
            </h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="allocate" id="yes4" value="yes">
                        <label class="form-check-label" for="yes4">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="allocate" id="no4" value="no">
                        <label class="form-check-label" for="no4">
                            No
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="allocate" id="unsure3" value="unsure">
                        <label class="form-check-label" for="unsure3">
                            Unsure
                        </label>
                    </div>
                </div>
            </div>

            <h5>By getting food from the campus food pantry, were you able to focus more of your time and energy 
                on class-realted activities?
            </h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="time" id="yes5" value="yes">
                        <label class="form-check-label" for="yes5">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="time" id="no5" value="no">
                        <label class="form-check-label" for="no5">
                            No
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="time" id="unsure4" value="unsure">
                        <label class="form-check-label" for="unsure4">
                            Unsure
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="time" id="n/a1" value="n/a">
                        <label class="form-check-label" for="n/a1">
                            Not Applicable
                        </label>
                    </div>
                </div>
            </div>

            <h5>My class attendance improved because of utilized the food pantry or its services.</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="attendance" id="true" value="true">
                        <label class="form-check-label" for="true">
                            True
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="attendance" id="false" value="false">
                        <label class="form-check-label" for="false">
                            False
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="attendance" id="unsure5" value="unsure">
                        <label class="form-check-label" for="unsure5">
                            Unsure
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="attendance" id="n/a2" value="n/a">
                        <label class="form-check-label" for="n/a2">
                            Not Applicable
                        </label>
                    </div>
                </div>
            </div>

            <h5>My grades improved while I utilized the food pantry or its services.</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="grades" id="true1" value="true">
                        <label class="form-check-label" for="true1">
                            True
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="grades" id="false1" value="false">
                        <label class="form-check-label" for="false1">
                            False
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="grades" id="unsure_" value="unsure">
                        <label class="form-check-label" for="unsure_">
                            Unsure
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="grades" id="n/a3" value="n/a">
                        <label class="form-check-label" for="n/a3">
                            Not Applicable
                        </label>
                    </div>
                </div>
            </div>

            <h5>I was able to stay enrolled beacuse of the assistance I received from the campus food pantry</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="enrolled" id="true2" value="true">
                        <label class="form-check-label" for="true2">
                            True
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="enrolled" id="false2" value="false">
                        <label class="form-check-label" for="false2">
                            False
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="enrolled" id="unsure6" value="unsure">
                        <label class="form-check-label" for="unsure6">
                            Unsure
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="enrolled" id="n/a_" value="n/a">
                        <label class="form-check-label" for="n/a_">
                            Not Applicable
                        </label>
                    </div>
                </div>
            </div>

            <h5>The campus food pantry helped me to perfrom my job my efficiently because I had access to more food.</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="job" id="true3" value="true">
                        <label class="form-check-label" for="true3">
                            True
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="job" id="false3" value="false">
                        <label class="form-check-label" for="false3">
                            False
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="job" id="unsure7" value="unsure">
                        <label class="form-check-label" for="unsure7">
                            Unsure
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="job" id="n/a4" value="n/a">
                        <label class="form-check-label" for="n/a4">
                            Not Applicable
                        </label>
                    </div>
                </div>
            </div>

            <h5>I was able to stay employed because of the assitance I received from the campus food pantry.</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="employed" id="true4" value="true">
                        <label class="form-check-label" for="true4">
                            True
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="employed" id="false4" value="false">
                        <label class="form-check-label" for="false4">
                            False
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="employed" id="unsure8" value="unsure">
                        <label class="form-check-label" for="unsure8">
                            Unsure
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="employed" id="n/a0" value="n/a">
                        <label class="form-check-label" for="n/a0">
                            Not Applicable
                        </label>
                    </div>
                </div>
            </div>

            <h5>I was treated with dignity and respect at the campus food pantry by staff and volunteers.</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="treatment" id="true5" value="true">
                        <label class="form-check-label" for="true5">
                            True
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="treatment" id="false5" value="false">
                        <label class="form-check-label" for="false5">
                            False
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="treatment" id="unsure9" value="unsure">
                        <label class="form-check-label" for="unsure9">
                            Unsure
                        </label>
                    </div>
                </div>
            </div>

            <h5>The campus food pantry hours of operation are convenient for my schedule.</h5>
            <div class="row mb-5">
                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="hours" id="true6" value="true">
                        <label class="form-check-label" for="true6">
                            True
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="hours" id="false6" value="false">
                        <label class="form-check-label" for="false6">
                            False
                        </label>
                    </div>
                </div>

                <div class="col-4 col-md-3 mb-2">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input me-2" type="radio" name="hours" id="unsure0" value="unsure">
                        <label class="form-check-label" for="unsure0">
                            Unsure
                        </label>
                    </div>
                </div>
            </div>

            <h5>What other types of foods or products would you like to see at the campus food pantry:</h5>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="4" id="explanation"></textarea>
                </div>
            </div>

            <h5>What other types of services would you like to see at the campus food pantry:</h5>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="4" id="explanation"></textarea>
                </div>
            </div>

            <h5>How can the campus food pantry imporve to serve you better?</h5>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="4" id="explanation"></textarea>
                </div>
            </div>

            <h5>Other questions, comments, or concerns:</h5>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="4" id="explanation"></textarea>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Submit Survey</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>


